// Yellows
$yellow-200: #fff59d;
$yellow-500: #ffeb3b;

// Reds
$red-200: #f69988;
$red-500: #e51c23;
$red-900: #b0120a;

// Greens
$green-200: #72d572;
$green-500: #259b24;

// Blues
$blue-500: #5677fc;
$blue-700: #455ede;

// Blue Greys
$blue-grey-100: #cfd8dc;

// Greys
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-600: #757575;
