// Headers.
.item-list--has-header {
  &:before {
    content:attr(data-header);
    margin-left: -20px;
    font-size:100%;
    font-weight:600;
  }
}

// Links
.links--inline {
  @include pie-clearfix;
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    float: left;
    margin-right: 1em;
    & > a {
      display: block;
    }
  }
}
