
.system-themes-list-disabled .theme-selector {
  width: 50%;
}

@include breakpoint($tab, true) {
  .system-themes-list-disabled .theme-selector {
    width: 33%;
  }
}
@include breakpoint($desk, true) {
  .system-themes-list-disabled .theme-selector {
    width: 25%;
    &:nth-child(5n+1) {
      clear: left;
    }
  }
}
